@font-face {
  font-family: "Manrope Regular";
  font-style: normal;
  src: url("../fonts/manrope-regular-webfont.woff2") format("woff2"),
       url("../fonts/manrope-regular-webfont.woff") format("woff");
}

@font-face {
  font-family: "Manrope Bold";
  font-style: normal;
  src: url("../fonts/manrope-bold-webfont.woff2") format("woff2"),
       url("../fonts/manrope-bold-webfont.woff") format("woff");
}

@font-face {
  font-family: "Manrope Extrabold";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/manrope-extrabold-webfont.woff2") format("woff2"),
       url("../fonts/manrope-extrabold-webfont.woff") format("woff");
}

/*include tailwind directives*/
@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    @apply font-MRregular leading-relaxed;
}

.bg-multiply {
    background-blend-mode: multiply;
}

.link-underline {
    position: relative;
    transition: .25s;

    &:after {
        content: '';
        @apply absolute;
        bottom: -10px;
        left: 0;
        width: 20%;
        height: 4px;
    }

    &:hover {
        &:after {
            transition: .25s;
            width: 30%;
        }
    }
}

.link-teal {
    @apply text-teal-500;

    &:after {
        @apply bg-teal-500;
    }

    &:hover {
        @apply text-teal-300;

        &:after {
            @apply bg-teal-300;
        }
    }
}

.link-beige {
    @apply text-beige-100;

    &:after {
        @apply bg-beige-100;
    }

    &:hover {
        @apply text-beige-300;

        &:after {
            @apply bg-beige-300;
        }
    }
}

@screen md {
    .home-league-image {
        @apply w-1/2;
        @apply p-16;
    }

    .home-hero-image {
        @apply min-h-screen;
    }

    .home-project-image {
        @apply w-1/2;
        @apply py-0;
    }

    .home-bucket {
        @apply w-2/6;
    }
}

@screen lg {
    .home-league-image {
        @apply pl-20;
        @apply w-2/5;
    }
}
